@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");

:root {
  --orange-color: rgb(255, 98, 3, 1);
  --orange-lite: rgb(255, 200, 8, 0.9);
  --grey-color: rgb(63, 69, 81, 1);
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  height: 20vh;
  width: 90%;
  margin: auto;
  align-items: center;
}

footer {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange-color);
}

footer p {
  text-align: center;
}

.logo-container,
.nav-links {
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
  padding: 20px 0 0 0;
}

nav {
  flex: 2;
}

.right-logo {
  flex: 1;
}

.nav-links {
  justify-content: space-around;
  list-style-type: none;
}

.nav-link {
  color: var(--orange-color);
  font-size: 18px;
  text-decoration: none;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 60vh;
  align-items: center;
  padding-top: 3rem;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(
    to right,
    var(--orange-color),
    var(--orange-lite)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin: 5px;
  font-size: 22px;
  color: var(--orange-lite);
}

.cta {
  padding: 50px 0 0 0;
}

.cta-know {
  border: 2px solid var(--orange-color);
  border-radius: 5px;
  background: transparent;
  color: var(--orange-color);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.cta-contact {
  background: var(--orange-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin: 30px 0px 0px 30px;
}

.cover {
  flex: 1;
  height: 60vh;
}

.cover img {
  height: 100%;
  /*box-shadow: 3px 3px 3px black;*/
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
  border-radius: 5px;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.7;
  height: 80%;
}

.mid-circle {
  position: absolute;
  top: 40%;
  right: 40%;
  z-index: -1;
  opacity: 0.5;
  height: 60%;
}

.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
  height: 20%;
}

.picture-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
  margin-top: 2rem;
}

.vision-section {
  background-color: var(--orange-color);
  display: grid;
  padding-top: 2rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(12, 1fr);
  border: 1px;
  grid-auto-rows: minmax(6rem, auto);
  color: var(--grey-color);
}

.mission-section {
  background-color: var(--white-color);
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(12, 1fr);
  border: 1px;
  grid-auto-rows: minmax(6rem, auto);
  color: var(--grey-color);
}

.values-section {
  background-color: var(--orange-color);
  display: grid;
  padding: 1rem 0 1rem 0;
  grid-template-columns: repeat(12, 1fr);
  border: 1px;
  grid-auto-rows: minmax(6rem, auto);
  color: var(--grey-color);
}

.vision,
.mission,
.values {
  grid-column-start: 2;
  grid-column-end: 12;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.services-main {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  padding-top: 3rem;
}

.services-main h2 {
  text-align: center;
}

.service-dark {
  background-color: var(--orange-color);
  border-radius: 10px;
  padding: 10px;
  color: var(--grey-color);
}

.service-lite {
  background-color: var(--orange-lite);
  border-radius: 10px;
  padding: 10px;
  color: var(--grey-color);
}

.services-main ul {
  text-decoration: none;
  padding: 5px;
}

.services-main li {
  list-style: none;
  line-height: 2.15rem;
}

.about-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 3rem;
  margin: auto;
  align-items: center;
}

.about-co {
  padding-bottom: 2rem;
}
.about-co h2 {
  color: var(--orange-color);
  text-align: center;
}

.about-co p {
  padding: 1rem;
  align-items: flex-start;
  color: var(--grey-color);
}

.contact-main {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 60vh;
  align-items: center;
  padding-top: 3rem;
  height: 100%;
}

.contact-form {
  flex: 1;
  margin: 10px;
  height: 100%;
}

.contact-form h2 {
  text-align: center;
  color: var(--orange-color);
}

.contact-form-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  justify-content: start;
}

.contact-form-form h3 {
  color: var(--orange-color);
}

.contact-form-form label,
area {
  margin: 10px;
  padding: 2px;
}

input[type="text"] {
  min-height: 35px;
  font-size: 30px;
}

.contact-form-form button {
  background: var(--orange-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin: 30px 0px 0px 30px;
}

.contact-cover {
  flex: 1;
  margin: 10px;
}

.contact-list li {
  list-style: none;
  padding: 10px;
}

.contact-main li h3 {
  color: var(--orange-color);
}

.contact-main li p {
  color: var(--grey-color);
  padding: 2px;
}

.industries-section {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 60vh;
  align-items: center;
  padding-top: 3rem;
  height: 100%;
  flex-direction: column;
}

.industries-wrapper h2 {
  text-align: center;
  color: var(--orange-color);
}

.industries-list {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: 100px;
}

.industry {
  background-color: var(--orange-lite);
  padding: 10px;
  color: var(--grey-color);
  border-radius: 5px;
}

/* small screen */
@media (max-width: 750px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  main {
    margin-top: 15vh;
  }
  .nav-links {
    flex-direction: column;
  }
  .presentation {
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
    align-items: center;
  }
  .intro-text h1 {
    font-size: 30px;
    align-items: center;
  }
  .intro-text p {
    font-size: 18px;
    align-items: center;
  }
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cta-contact {
    margin: 30px 0 0 0;
  }
  .cover {
    margin: 10px;
    padding-top: 15vh;
    align-items: center;
    display: none;
  }
  .picture-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
    display: none;
  }

  .vision-section {
    padding-top: 15vh;
  }
  .cover img {
    display: flex;
    height: 80%;
  }

  .small-circle,
  .mid-circle {
    display: none;
  }

  .big-circle {
    opacity: 0.2;
    top: -10vh;
    right: -20vw;
  }

  .services-main {
    padding: 15vh;
    grid-template-columns: 1fr;
  }

  .about-section {
    margin-top: 15vh;
  }

  .contact-main {
    margin-top: 15vh;
  }
  .contact-main {
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
  }

  .contact-form-form {
    width: 90%;
    margin: auto;
  }

  .industries-list {
    grid-template-columns: 1fr;
  }
}
